annot1[pathophysiology], annot2[pathophysiology] {
  background-color: #90ee9078;
}

annot1[epidemiology], annot2[epidemiology] {
  background-color: #87cefac9;
}

annot1[etiology], annot2[etiology] {
   background-color: #ee909b;
}

annot1[history], annot2[history] {
   background-color: #90ebee;
}

annot1[physical], annot2[physical] {
   background-color: #ffff77;
}

annot1[exams], annot2[exams] {
   background-color: #cc90ee;
}

annot1[differential], annot2[differential] {
   background-color: #ffaa0078;
}

annot1[prognosis], annot2[prognosis] {
   background-color: #6600ff78;
}

annot1[therapeutic], annot2[therapeutic] {
   background-color: #ffaae778;
}

annot1[encapsulated], annot2[encapsulated], annot1[right], annot2[right],
annot1[wrong], annot2[wrong], annot1[typo], annot2[typo] {
  border-style: solid;
}

annot1[simple], annot2[simple] {
   border-style: dotted;
}

annot1[encapsulated], annot2[encapsulated] {
   border-color: blue;
}

annot1[typo], annot2[typo] {
  border-color: purple;
}

annot1[right], annot2[right] {
  border-color: green;
}

annot1[wrong], annot2[wrong] {
  border-color: red;
}

annot1[jargon], annot2[jargon] {
   border-style: dashed;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
