<div class="container-fluid" >
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ breadHome }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="{{ breadDrafts }}">Drafts</li>
      </ol>
    </nav>
</div>
