<div class="fixed-top">
  <nav>
    {{-- Logo / Main Link --}}
    {{-- Navigation Actions --}}
    <div class="d-flex overflow-hidden pt-3 mr-4" id="harena-header">

  <span class="inline-flex mr-4 rounded-md shadow ml-auto" id="header-login">
    <a href="#" onclick="" class="inline-flex items-center px-4 py-2 text-base bg-white">
      Log in
    </a>
  </span>


</div>
</nav>
</div>
