:root{
  --dark: #1F2232;
  --secondary: #596475;
  --primary: #BC9EC1;
  --light-pink: #E3BAC6;
  --light: #FDE8E9;
}
.bg-lab-light {
  background-color: #FDE8E9 !important;
}
.bg-lab-light-pink {
  background-color: #E3BAC6 !important;
}
.bg-lab-primary {
  background-color: #BC9EC1 !important;
}
.bg-lab-secondary {
  background-color: #596475 !important;
}
.bg-lab-dark {
  background-color: #1F2232 !important;
}

.text-lab-dark {
  color: #1F2232 !important;
}

.text-lab-secondary {
  color: #596475 !important;
}

.text-lab-primary {
  color: #BC9EC1 !important;
}
.text-primary {
  color: #1F2232 !important;
}

.text-lab-light-pink {
  color: #E3BAC6 !important;
}

.text-lab-light {
  color: #FDE8E9 !important;
}

.btn-lab-primary {
	color: #FDE8E9 !important;
	background-color: #1F2232 !important;
	border-color: #1F2232 !important;
}
.btn-lab-primary:hover {
  color: #BC9EC1 !important;
  font-size: 1.1rem !important;
}

.btn-lab-secondary {
	color: #FDE8E9 !important;
	background-color: #596475 !important;
	border-color: #596475 !important;
}
.btn-lab-secondary:hover {
	color: #BC9EC1 !important;
}

.disabled-lock, .disabled-look{
  pointer-events: none !important;
  background-color: #E3BAC6 !important;
  opacity: 0.8 !important;
}

.border-lab-dark{
  border-color: #1F2232 !important;
}
