:root{
  --dark: #1F2232;
  --secondary: #596475;
  --primary: #BC9EC1;
  --light-pink: #E3BAC6;
  --light: #FDE8E9;
}
.bg-lab-light {
  background-color: var(--light) !important;
}
.bg-lab-light-pink {
  background-color: var(--light-pink) !important;
}
.bg-lab-primary {
  background-color: var(--primary) !important;
}
.bg-lab-secondary {
  background-color: var(--secondary) !important;
}
.bg-lab-dark {
  background-color: var(--dark) !important;
}

.text-lab-dark {
  color: var(--dark) !important;
}

.text-lab-secondary {
  color: var(--secondary) !important;
}

.text-lab-primary {
  color: var(--primary) !important;
}
.text-primary {
  color: var(--dark) !important;
}

.text-lab-light-pink {
  color: var(--light-pink) !important;
}

.text-lab-light {
  color: var(--light) !important;
}

.btn-lab-primary {
	color: var(--light);
	background-color: var(--dark);
	border-color: var(--dark);
}

.btn-lab-secondary {
	color: var(--light);
	background-color: var(--secondary);
	border-color: var(--secondary);
}

.disabled-lock, .disabled-look{
  pointer-events: none;
  background-color: var(--light-pink);
  opacity: 0.8
}

