   <link rel="stylesheet" href="../../lib/fontawesome-5-10-1/css/all.min.css">
   <link rel="stylesheet" href="../../lib/bootstrap-4.4.1/css/bootstrap.min.css">
   <link href="../../lib/quill-1-3-7/quill.snow.css" rel="stylesheet">

   <link rel="stylesheet" href="../../infra/css/common-player.css">
   <link rel="stylesheet" href="../../infra/css/common-author.css">

   <script src="../../lib/jquery-3-4-1/jquery-3.4.1.slim.min.js"></script>
   <script src="../../lib/popper-1-15-0/popper.min.js"></script>
   <script src="../../lib/bootstrap-4.4.1/js/bootstrap.min.js"></script>
   <script src="../../lib/axios-0.20.0/axios.min.js"></script>

   <script src="../../infra/bus.js"></script>
   <script src="../../infra/basic.js"></script>
   <script src="../../infra/dcc-common-server-proxy.js"></script>

   <script src="../../dccs/subscribe-dcc.js"></script>
   <script src="../../dccs/trigger-dcc.js"></script>
   <script src="../../dccs/property-dcc.js"></script>
   <script src="../../dccs/connect-dcc.js"></script>

   <script src="../../dccs/dcc.js"></script>
   <script src="../../dccs/components/dcc-base.js"></script>
   <script src="../../dccs/components/dcc-visual.js"></script>
   <script src="../../dccs/components/dcc-block.js"></script>
   <script src="../../dccs/components/dcc-button.js"></script>
   <script src="../../dccs/components/dcc-input.js"></script>
   <script src="../../dccs/components/dcc-input-typed.js"></script>

   <script src="../../dccs/components/data/dcc-model.js"></script>
   <script src="../../dccs/components/data/dcc-submit.js"></script>
   <script src="../../dccs/components/data/dcc-record.js"></script>

   <script src="../../dccs/components/web/dcc-include.js"></script>
   <script src="../../dccs/components/web/dcc-dhtml.js"></script>
   <script src="../../dccs/components/web/dcc-rest.js"></script>
