<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Authoring Environment</title>

<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">

<link rel="stylesheet" href="{{ assetsUrl('lib/fontawesome-5-10-1/css/all.min.css') }}">
<link rel="stylesheet" href="{{ assetsUrl('lib/bootstrap-4-3-1/css/bootstrap.min.css') }}">

<link rel="stylesheet" href="{{ assetsUrl('infra/css/common-player.css') }}">
<link rel="stylesheet" href="{{ assetsUrl('infra/css/common-author.css') }}">
<link rel="stylesheet" href="{{ assetsUrl('dccs/css/dccs.css') }}">
<link rel="stylesheet" href="{{ assetsUrl('author/css/author.css') }}">
<link rel="stylesheet" href="{{ assetsUrl('dccs/css/properties.css') }}">

<link rel="stylesheet" href="{{ assetsUrl('lib/quill-1-3-7/quill.snow.css') }}">

<script src="{{ assetsUrl('infra/bus.js') }}"></script>
<script src="{{ assetsUrl('infra/basic.js') }}"></script>
<script src="{{ assetsUrl('infra/dcc-common-server-proxy.js') }}"></script>
<script src="{{ assetsUrl('infra/dcc-common-server-address.js') }}"></script>
<script src="{{ assetsUrl('context/context.js') }}"></script>

<script src="{{ assetsUrl('lib/jquery-3-4-1/jquery-3.4.1.slim.min.js') }}"></script>
<script src="{{ assetsUrl('lib/popper-1-15-0/popper.min.js') }}"></script>
<script src="{{ assetsUrl('lib/bootstrap-4-3-1/js/bootstrap.min.js') }}"></script>


<script src="{{ assetsUrl('lib/quill-1-3-7/quill.min.js') }}"></script>
<script src="{{ assetsUrl('lib/d3.min.js') }}"></script>

<script src="{{ assetsUrl('dccs/components/dcc-base.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-visual.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-markdown.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-annotation.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-image.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-expression.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-block.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-trigger.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-character.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-lively-dialog.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-notice-input.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-context-menu.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-state-select.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-image-marker.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-styler.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-entity.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-input.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-input-typed.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-input-choice.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-input-table.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-slider.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-compute.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-report.js') }}"></script>
<script src="{{ assetsUrl('dccs/components/dcc-graph.js') }}"></script>

<script src="{{ assetsUrl('lib/showdown-2-0-0/showdown.min.js') }}"></script>
<script src="{{ assetsUrl('translator/translator.js') }}"></script>
<script src="{{ assetsUrl('translator/item-templates.js') }}"></script>

<script src="{{ assetsUrl('dccs/edit/properties.js') }}"></script>
<script src="{{ assetsUrl('dccs/edit/inplace-editor.js') }}"></script>
<script src="{{ assetsUrl('dccs/edit/inplace-plain-editor.js') }}"></script>
<script src="{{ assetsUrl('dccs/edit/inplace-text-editor.js') }}"></script>
<script src="{{ assetsUrl('dccs/edit/inplace-image-editor.js') }}"></script>

<script src="{{ assetsUrl('author/js/dcc-author-server-proxy.js') }}"></script>
<script src="{{ assetsUrl('author/js/panels.js') }}"></script>
<script src="{{ assetsUrl('author/js/navigator.js') }}"></script>
<script src="{{ assetsUrl('author/js/author.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body onload="AuthorManager.author.start()">

  @include('layout.partials.settings-modal')

  <!-- Create a section to place page content -->

  <main role="main">
    <div id="main-panel"
         class="d-flex flex-column vh-100 vw-100 scroll-y index-boot-padding">

      <!-- Create breadcrumbs -->
      <div id="system-panel" class="container-fluid" style="position:relative">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a href="//home.html">Home</a></li> -->
            <li class="breadcrumb-item"><a href={{route('author_home')}}>Home</a></li>
            <li class="breadcrumb-item">
              <div style="height: 15px">
                <dcc-trigger action="control/leave/drafts" label="Drafts" xstyle="out">
                </dcc-trigger>
              </div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Edit case</li>
          </ol>
        </nav>
      </div>
      <!-- End of breadcrumbs -->

      <!-- Page title and description -->
      <div class="container-fluid">
        <h1>Edit case</h1>
        <p class="lead">Here's how your case will appear to students. You can also edit them. </p>
      </div>
      <!-- End of page title and description -->

      <!-- Toolbar -->
      <div id="toolbar-panel" class="container-fluid no-spacing"
           style="position:relative">
        <nav class="navbar navbar-light">
          <div class="col-6">
            <dcc-trigger action="control/case/save" label="SAVE" xstyle="in"></dcc-trigger>
            <!--
            <dcc-trigger action="control/case/settings" label="SETTINGS" xstyle="in"></dcc-trigger>
            -->

            <!-- Settings button activates a modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#settings-modal"
            id="btn-save-settings">Settings</button>

            <div id="advanced-mode" style="display:none">
              <dcc-trigger action="control/case/markdown" label="MARKDOWN" xstyle="in"></dcc-trigger>
            </div>
            <div class="sty-message-space" id="message-space"></div>

          </div>
<!--          <div class="navbar-sub col-2">
            <div class="custom-control custom-switch" data-on="success" data-off="default">
              <input type="checkbox" class="custom-control-input" id="preview-switch">
              <label class="custom-control-label" for="preview-switch">Preview mode</label>
            </div>
          </div>
        -->
          <div class="col-2">

          </div>
        </nav>
      </div>
      <!-- End of toolbar -->

      <div class="d-flex">
          <div id="navigation-block" style="position:relative" class="w-25">
            <div class="sty-navigation-block">
              <div class="sty-navigation-panel std-border">
                <div id="navigation-panel"></div>
                <dcc-graph id="navigation-graph" width="500" height="300" action="control/knot/selected">
                </dcc-graph>
              </div>
            </div>
          </div>

          <div class="w-75 d-flex" id="knot-main">
            <div id="navigator-expansion" class="sty-navigation-expansion">
                <div id="navigation-set" class="sty-navigation-set">
                  <dcc-trigger id="button-expand-nav" action="control/navigator/expand" label="Expand" image="/author/icons/icon-expansion-right.svg"></dcc-trigger>
                  <dcc-trigger id="button-retract-nav" action="control/navigator/retract" label="Retract" image="/author/icons/icon-expansion-left.svg"></dcc-trigger>
                </div>
            </div>
            <div class="w-100">
              <div id="inplace-editor-wrapper" class="sticky-top std-border">
                <div id="knot-panel" class="sty-knot-panel"></div>
              </div>
            </div>
            <div id="properties-expansion" class="sty-navigation-expansion">
                <dcc-trigger id="button-expand-prop" action="control/properties/expand" label="Expand" image="/author/icons/icon-expansion-left.svg"></dcc-trigger>
                <dcc-trigger id="button-retract-prop" action="control/properties/retract" label="Retract" image="/author/icons/icon-expansion-right.svg" style="display:none"></dcc-trigger>
            </div>
          </div>

          <div id="elements-main" class="d-flex">
            <div id="elements-block" class="sty-elements-block" style="position:relative; display:none">
               <!--
               <div id="elements-panel" class="sty-control-panel std-border">
                  <div class="control-button"><dcc-trigger action="control/element/text/new" label="Text" image="icons/icon-dcc-text.svg"></dcc-trigger></div>
                  <div class="control-button"><dcc-trigger action="control/element/image/new" label="Text" image="icons/icon-dcc-image.svg"></dcc-trigger></div>
                  <div class="control-button"><dcc-trigger action="control/element/option/new" label="Text" image="icons/icon-dcc-trigger.svg"></dcc-trigger></div>
               </div>
             -->
               <div id="properties-block" class="sty-properties-block std-border">
                  <div id="properties-panel" class="styp-properties-panel"></div>
                  <div id="properties-buttons">
                     <dcc-trigger xstyle="in" action="properties/apply/details" label="APPLY"></dcc-trigger>
                     <!--
                     <div class="control-button"><dcc-trigger xstyle="in" action="control/element/selected/up" label="Element Up" image="icons/icon-move-up.svg"></dcc-trigger></div>
                     <div class="control-button"><dcc-trigger xstyle="in" action="control/element/selected/down" label="Element Down" image="icons/icon-move-down.svg"></dcc-trigger></div>
                     <div class="control-button"><dcc-trigger xstyle="in" action="control/element/selected/delete" label="Delete Element" image="icons/icon-delete.svg"></dcc-trigger></div>
                   -->
                  </div>
               </div>
            </div>
          </div>
</div>

</div>
</main>
<!-- end of div /.container -->

</body>
</html>
