<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Authoring Environment</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">

  <link rel="stylesheet" href="{{ assetsUrl('lib/fontawesome-5-10-1/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ assetsUrl('lib/bootstrap-4-3-1/css/bootstrap.min.css') }}">

  <link rel="stylesheet" href="{{ assetsUrl('infra/css/common-player.css') }}">
  <link rel="stylesheet" href="{{ assetsUrl('infra/css/common-author.css') }}">
  <link rel="stylesheet" href="{{ assetsUrl('author/css/author.css') }}">

  <script src="{{ assetsUrl('infra/bus.js') }}"></script>
  <script src="{{ assetsUrl('infra/basic.js') }}"></script>
  <script src="{{ assetsUrl('infra/dcc-common-server-proxy.js') }}"></script>
  <script src="{{ assetsUrl('infra/dcc-common-server-address.js') }}"></script>
  <script src="{{ assetsUrl('author/js/dcc-author-server-proxy.js') }}"></script>

  <script src="{{ assetsUrl('dccs/components/dcc-base.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-visual.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-notice-input.js') }}"></script>

  <script src="{{ assetsUrl('author/js/create.js') }}"></script>
  <script src="{{ assetsUrl('author/js/template-case.js') }}"></script>
  <script src="{{ assetsUrl('author/js/draft.js') }}"></script>
</head>

@!section('content')

</html>