@charset "UTF-8";

.editor-container{
  /* position: absolute; */
  overflow: auto;
  max-width: 95% !important;
  max-height: 85% !important;
  z-index: 1;
}

.ql-hl-select {
   width: 6.3rem;
}

.dcc-state-select-area {
   border-style: dashed;
   border-width: 2px;
   border-color: blue;
   /* background-color: #ffffe0; */
}

.dcc-state-select-undefined {
   background-color: #d3d3d385;
}

.dcc-state-select-positive-plus {
   background-color: #90ee9078;
}

.dcc-state-select-positive {
   background-color: #87cefac9;
}

.dcc-state-select-neutral {
   background-color: #ffff77;
}

.dcc-state-select-negative {
   background-color: #f0808078;
}

.dcc-text-annotation {
   background-color: #ffaa0078;
}

.annotation-buttons {
   /* width: 100%; */
   display: flex;
   flex-direction: row;
   margin-left: auto;
   cursor: pointer;
}

/* DCCs Variables
 ****************/

:root {
   --dcc-chart-back: white;
   --dcc-chart-axis: black;
   --dcc-chart-plot: red;
   --dcc-chart-label: blue;
   --dcc-progress-back: lightgray;
   --dcc-progress-front: rgb(100, 100, 255);
   --dcc-play-font-family: "Courier New", monospace;
   --dcc-play-font-size: 1em;
   --dcc-play-background-color: lightgray;
}

/* Button DCC */

.dcc-button-theme {
   border: 1px solid lightgray;
   border-radius: 5px;
   margin: 5px;
   color: #1d1d1b;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: block;
   width: 50%;
}
.dcc-button-theme:hover {
   color: black;
   font-weight: bold;
   cursor: pointer;
}
.dcc-button-image-theme {
   max-width: 100%;
   max-height: 100%;
   cursor: pointer;
}

/* Input Choice DCC
 ******************/

.dcc-input-choice-theme-label {
  margin-left: 4px
}

/*
.ck.ck-reset_all {
   position: sticky !important;
   top: 0 !important;
}
*/
