@charset "UTF-8";

.editor-container{
  /* position: absolute; */
  overflow: auto;
  max-width: 95% !important;
  max-height: 85% !important;
  z-index: 1;
}

.ql-hl-select {
   width: 6.3rem;
}

.dcc-state-select-area {
   border-style: dashed;
   border-width: 2px;
   border-color: blue;
   /* background-color: #ffffe0; */
}

.dcc-state-select-undefined {
   background-color: #d3d3d385;
}

.dcc-state-select-positive-plus {
   background-color: #90ee9078;
}

.dcc-state-select-positive {
   background-color: #87cefac9;
}

.dcc-state-select-neutral {
   background-color: #ffff77;
}

.dcc-state-select-negative {
   background-color: #f0808078;
}

.dcc-text-annotation {
   background-color: #ffaa0078;
}

.annotation-buttons {
   /* width: 100%; */
   display: flex;
   flex-direction: row;
   margin-left: auto;
   cursor: pointer;
}

/* DCCs Variables
 ****************/

:root {
   --dcc-progress-back: lightgray;
   --dcc-progress-front: rgb(100, 100, 255);
   --dcc-play-font-family: "Courier New", monospace;
   --dcc-play-font-size: 1em;
   --dcc-play-background-color: lightgray;
}

/*
.ck.ck-reset_all {
   position: sticky !important;
   top: 0 !important;
}
*/
