@charset "UTF-8";

.styp-properties-panel {
   flex: 95%;
   width: auto;
   height: 95%;
   /* overflow: scroll; */
   display: flex;
   flex-direction: column;
   padding: 5px;
}

.styp-field-row {
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
}

.styp-field-pair {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

.styp-field-label {
   font-size: 1rem;
   font-weight: 400;
   color: #212529;
   margin-left: 3px;
   margin-bottom: .3rem;
}

.styp-field-value, .styp-field-text {
   font-size: 1rem;
   font-weight: 400;
   color: #495057;
   border: 1px solid #ced4da;
   border-radius: .25rem;
   padding: .375rem .75rem;
   margin-bottom: .7rem;
}

.styp-field-text {
   width: 550px;
   margin: 3px;
}

.styp-field-highlight {
   border-style: dashed;
   border-width: 5px;
   border-color: blue;
}

/* Inplace Editor
 ****************/

/*
.inplace-editor-floating {
   position: sticky;
	 top: 5px;
	 z-index: 2;

   background-color: white;
   border-radius: 1px;
   box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.5);
   margin: 5px;
}
*/

.inplace-editor-floating {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 100;
   width: 600px;
   height: 400px;
   overflow: hidden;
   display: flex;
   background: white;
   flex-direction: column;

   border-radius: 1px;
   box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
   margin: 15px;
}

.inplace-editor {
   background-color: white;
   position: relative;
   height: 100% !important;
   weight: 100% !important;
   overflow: hidden;
}

.annotation-bar {
   width: 100%;
   /* height: 28px; */
   display: flex;
   flex-direction: row;
   padding-left: 3px;
   padding-right: 3px;
}
