@charset "UTF-8";

.styp-elements-block {
   flex: 20%;
   min-width: 20%;
   max-width: 100%;
   height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.styp-properties-block {
   flex: 95%;
   width: auto;
   height: 95%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.styp-properties-panel {
   flex: 95%;
   width: auto;
   height: 95%;
   overflow: scroll;
   display: flex;
   flex-direction: column;
   padding: 5px;
}

.styp-properties-control {
   flex: 5%;
   width: auto;
   height: 5%;
   display: flex;
   flex-direction: row;
   padding: 5px;
   background-color: #a6a6a6;
}

.styp-field-row {
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
}

.styp-field-label {
   font-size: 1rem;
   font-weight: 400;
   color: #212529;
   margin-left: 3px;
   margin-bottom: .5rem;
}

.styp-field-value {
   font-size: 1rem;
   font-weight: 400;
   color: #495057;
   border: 1px solid #ced4da;
   border-radius: .25rem;
   padding: .375rem .75rem;
   margin-bottom: 1rem;
}

.styp-field-highlight {
   border-style: dashed;
   border-width: 5px;
   border-color: blue;
}
