<input
  class="{{ class1 ? class1 : 'form-control' }}"
  name="{{ name }}"
  type="{{ type ? type : 'text' }}"
  {{ required ? 'required' : null }}
  
  @if(id)
    id="{{ id }}"
  @endif

  @if(placeholder)
    placeholder="{{ placeholder }}"
  @endif

  @if(value)
    value="{{ value }}"
  @endif
  
  @if(describedby)
    aria-describedby="{{ describedby }}"
  @endif
>