@charset "UTF-8";

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14pt;
}

.sty-main-panel {
   /* the main box (body) occupies all the visible area */
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;

   /* eliminate margins etc. */
   margin: 0px;
   padding: 0px;
   border-width: 0px;

   display: flex;
   flex-direction: column;
}

.panel_center {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 60px;
    background-color: transparent;
}

.panel_inner_center {
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   margin-left: 10%;
   margin-right: 10%;
    background-color: #fbfcd2;
}

