@layout('layout.main')

@section('title')
JobPostr - Post your Jobs 
@endsection

@section('content')
  <h1>All Jobs</h1>

  <div class="job-container">
    <div class="blank"></div>
    <div class="job-info">
      <h3>Job Title</h3>
      <p>Future job description can go here.</p>
    </div>
  </div>
@endsection