<div class="fixed-top up-scroll" style="transition: top 0.3s !important;">
  <dcc-rest id="harena-login" bind="harena-login"></dcc-rest>
  <nav>
      <div class="d-flex overflow-hidden pt-2 mr-4" id="harena-header">

      <span class="inline-flex rounded-md ml-auto " id="header-login">
        <div id="login-block">
            <button id="loginDropdownBtn" class="btn btn-light border-top border-left border-right text-primary pl-4 pt-1 dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </button>
            <form class="needs-validation dropdown-menu p-4 mr-5" novalidate>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com" required>
                <div class="invalid-feedback">
                  Please type a valid email.
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              </div>
              <dcc-submit id="btn-submit-login" bind="submit-login" label="Login" xstyle="btn btn-outline-primary" connect="submit:harena-login:service/request/post"></dcc-submit>
              <div id="login-message-alert" class="alert mt-3" role="alert">
              </div>
            </form>
        </div>
        <div id="logout-block" style="display: none;">
          <dcc-rest id="harena-logout" bind="harena-logout"></dcc-rest>
          <button id="logoutDropdownBtn" class="btn btn-light border-top border-left border-right text-primary pl-4 pt-1 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Logout
          </button>
          <div class="dropdown-menu mr-5" aria-labelledby="logoutDropdownBtn">
            <a class="dropdown-item" href="/user/settings">Change Password</a>
            <div class="dropdown-divider"></div>

            <dcc-submit xstyle="dropdown-item" id="logout-button" bind="submit-logout" label="Logout" connect="submit:harena-logout:service/request/post">

            </div>
        </div>
      </span>
    </div>
  </nav>
</div>
