<!-- Minimal template with scripts and styles to start any basic html in the project -->

<head>
  <meta charset="utf-8">
  <title>Authoring Environment</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">

  <link rel="stylesheet" href="css/author.css">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="../lib/jquery-3-4-1/jquery-3.4.1.slim.min.js"></script>
  <script src="../lib/popper-1-15-0/popper.min.js"></script>
  <script src="../lib/bootstrap-4.4.1/js/bootstrap.min.js"></script>

  <script src="../config/config.js"></script>
  <script src="../infra/bus.js"></script>
  <script src="../infra/basic.js"></script>
  <script src="../infra/dcc-common-server-proxy.js"></script>
  <script src="../infra/dcc-common-server-address.js"></script>
  <script src="../infra/token-validator.js"></script>

  <script src="../dccs/dcc.js"></script>
  <script src="../dccs/components/dcc-base.js "></script>
  <script src="../dccs/components/dcc-visual.js "></script>
  <script src="../dccs/components/dcc-block.js"></script>
  <script src="../dccs/components/dcc-button.js"></script>
  <script src="../dccs/components/dcc-notice-input.js"></script>

  <script src="../dccs/components/web/dcc-rest.js"></script>
  <script src="../dccs/components/web/dcc-include.js"></script>
  <script src="../dccs/components/web/dcc-dhtml.js"></script>

  <script src="../dccs/components/data/dcc-submit.js"></script>
  <script src="../dccs/components/data/dcc-model.js"></script>
  <script src="../dccs/components/data/dcc-record.js"></script>

  <script src="../dccs/subscribe-dcc.js"></script>
  <script src="../dccs/trigger-dcc.js"></script>
  <script src="../dccs/property-dcc.js"></script>
  <script src="../dccs/connect-dcc.js"></script>
  <script src="../dccs/end-dcc.js"></script>


  <script src="../infra/dcc-rest-proxy.js"></script>
  <script src="../infra/dcc-basic.js"></script>


  <link rel="stylesheet" href="../lib/fontawesome-5-10-1/css/all.min.css">
  <link rel="stylesheet" href="../lib/bootstrap-4.4.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="../dccs/css/dccs.css">
  <link rel="stylesheet" href="../dccs/css/properties.css">
  <link rel="stylesheet" href="../infra/css/common-player.css">
  <link rel="stylesheet" href="../infra/css/common-author.css">

  <script src="js/dcc-author-server-proxy.js"></script>

  <script src="js/create.js"></script>
  <script src="js/template-case.js"></script>
  <script src="js/draft.js"></script>
</head>
