@charset "UTF-8";

@media (min-width: 0px) {
  .avatar-mini{
    width: 20pt;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .avatar-mini{
    width: 35pt;
  }

  .w-sm-100 {
  width:100%!important;
  }
  .w-sm-75 {
  width:75%!important;
  }
  .w-sm-50 {
  width:50%!important;
  }
  .w-sm-40{
    width:40%!important;
  }
  .w-sm-25 {
  width:25%!important;
  }
  .h-sm-100 {
  height:100%!important;
  }
  .h-sm-75 {
  height:75%!important;
  }
  .h-sm-50 {
  height:50%!important;
  }
  .h-sm-40{
    height:40%!important;
  }
  .h-sm-25 {
  height:25%!important;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .w-md-100 {
  width:100%!important;
  }
  .w-md-75 {
  width:75%!important;
  }
  .w-md-50 {
  width:50%!important;
  }
  .w-md-40{
    width:40%!important;
  }
  .w-md-25 {
  width:25%!important;
  }
  .h-md-100 {
  height:100%!important;
  }
  .h-md-75 {
  height:75%!important;
  }
  .h-md-50 {
  height:50%!important;
  }
  .h-md-40{
    height:40%!important;
  }
  .h-md-25 {
  height:25%!important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .w-lg-100 {
  width:100%!important;
  }
  .w-lg-75 {
  width:75%!important;
  }
  .w-lg-50 {
  width:50%!important;
  }
  .w-lg-40{
    width:40%!important;
  }
  .w-lg-25 {
  width:25%!important;
  }
  .h-lg-100 {
  height:100%!important;
  }
  .h-lg-75 {
  height:75%!important;
  }
  .h-lg-50 {
  height:50%!important;
  }
  .h-lg-40{
    height:40%!important;
  }
  .h-lg-25 {
  height:25%!important;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .w-xl-100 {
  width:100%!important;
  }
  .w-xl-75 {
  width:75%!important;
  }
  .w-xl-50 {
  width:50%!important;
  }
  .w-xl-40{
    width:40%!important;
  }
  .w-xl-25 {
  width:25%!important;
  }
  .h-xl-100 {
  height:100%!important;
  }
  .h-xl-40{
    height:40%!important;
  }
  .h-xl-75 {
  height:75%!important;
  }
  .h-xl-50 {
  height:50%!important;
  }
  .h-xl-25 {
  height:25%!important;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  background-color: #f2f2f2;
}

h1,h2 {
  font-weight: bold;
  color: #808080;
}
h3 {
  font-weight: bold;
  color: #808080;
}
h4 {
  font-weight: bold;
  color: #808080;
}

div {
  box-sizing: border-box;
}

nav.navbar {
  margin-bottom: 1rem;
}

.debug-border {
  border-color: ;
  border-style: dashed;
}

.hidden-overflow{
  overflow: hidden;
}

.scroll-y{
  overflow-x: hidden;
  overflow-y: scroll;
}
.scroll-x{
  overflow-x: scroll;
  overflow-y: hidden;
}

.bg-offwhite{
  background-color: #C8C8C8;
}
.disabled-lock, .disabled-look{
  pointer-events: none;
  background-color: #e9ecef;
  opacity: 0.8
}
.no-pointers, .no-pointer{
  pointer-events: none;
}
.disabled-lock::after{
  font-family: "Font Awesome 5 Free";
  content: "\f023";
  font-weight: 800;
}

.roulette-number{
  background-color: #f2f2f2;
  cursor: pointer;
  #56c162
}

text {
  text-anchor: middle;
  dominant-baseline: middle;
  font: 12px Calibri, Arial;
}

.prognosis-perfect-prog{
  color: #32ae4e !important;
}

.prognosis-half-prog{
  color: #d9b036 !important;
}
.prognosis-bad-prog{
color: #c1434f !important;
}
.bg-plaster{
  background-color: #d7d7d7 !important;
}

.character-mini{
  margin-top: 3pt;
  padding: 3pt;
  border: 2pt solid black;
  border-radius: 15pt;
  width: 70pt;
}

.character-selection{
  cursor: pointer;
}
.character-selection:hover{
  background: #2917fb4d;
}
.character-mini.character-selection:hover{
  width: 75pt;
}

.pacient-mini{
  width: 70pt;
  background:white;
  border: 2pt solid black;
  border-radius: 15pt;
  padding: 2pt;
}

.img-disabled{
  pointer-events: none;
  opacity: 0.5;
}

.txt-progn-light{
  color: #bbb;
}
.disable-children-events *{
  pointer-events: none;
}

.bg-progn-blue{
  background-color: #6588a8 !important;
}
