<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>Player</title>

   <link rel="stylesheet" href="{{ assetsUrl('player/css/player.css') }}">
   <link rel="stylesheet" href="{{ assetsUrl('infra/css/common-player.css') }}">

   <script src="{{ assetsUrl('infra/bus.js') }}"></script>
   <script src="{{ assetsUrl('infra/basic.js') }}"></script>
   <script src="{{ assetsUrl('infra/dcc-common-server-proxy.js') }}"></script>
   <script src="{{ assetsUrl('infra/dcc-common-server-address.js') }}"></script>
  <script src="{{ assetsUrl('context/context.js') }}"></script>

   <script src="{{ assetsUrl('dccs/components/dcc-base.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-visual.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-markdown.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-annotation.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-expression.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-block.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-button.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-character.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-lively-dialog.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-notice-input.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-state-select.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-image-marker.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-styler.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-entity.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-input.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-input-typed.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-input-choice.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-input-table.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-slider.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-compute.js') }}"></script>
   <script src="{{ assetsUrl('dccs/components/dcc-report.js') }}"></script>

   <script src="{{ assetsUrl('lib/showdown-2-0-0/showdown.min.js') }}"></script>

   <script src="{{ assetsUrl('translator/translator.js') }}"></script>
   <script src="{{ assetsUrl('translator/item-templates.js') }}"></script>

   <script src="{{ assetsUrl('player/js/dcc-player-server-proxy.js') }}"></script>
   <script src="{{ assetsUrl('player/js/htracker.js') }}"></script>
   <script src="{{ assetsUrl('player/js/state.js') }}"></script>
   <script src="{{ assetsUrl('player/js/metaplayer.js') }}"></script>
   <script src="{{ assetsUrl('player/js/player.js') }}"></script>
</head>
<body onload="PlayerManager.player.startPlayer()">
   <div class="sty-preview-panel" id="preview-panel" style="display:none">
     <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
         <li class="breadcrumb-item">
           <a href="{{ route('cases_drafts') }}">Return</a>
         </li>
         <li class="breadcrumb-item active" aria-current="page">Player</li>
       </ol>
     </nav>
   </div>
   <div id="main-panel" class="d-flex flex-column vh-100 vw-100 scroll-y index-boot-padding">

   </div>
</body>
</html>
