<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>{{ pageTitle }} | Harena </title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">

  <link rel="stylesheet" href="{{ assetsUrl('lib/fontawesome-5-10-1/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ assetsUrl('lib/bootstrap-4-3-1/css/bootstrap.min.css') }}">

  <link rel="stylesheet" href="{{ assetsUrl('infra/css/common-player.css') }}">
  <!-- <link rel="stylesheet" href="../infra/css/common-author.css"> -->

  {{--  {{ style('player') }}  --}}
  <link rel="stylesheet" href="{{ assetsUrl('start/css/main.css') }}"/>

  <script src="{{ assetsUrl('infra/bus.js') }}"></script>
  <script src="{{ assetsUrl('infra/basic.js') }}"></script>
  <script src="{{ assetsUrl('infra/dcc-common-server-proxy.js') }}"></script>
  <script src="{{ assetsUrl('infra/dcc-common-server-address.js') }}"></script>
  <script src="{{ assetsUrl('author/js/dcc-author-server-proxy.js') }}"></script>


  <script src="{{ assetsUrl('dccs/components/dcc-base.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-visual.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-notice-input.js') }}"></script>

  <script src="{{ assetsUrl('author/js/template-case.js') }}"></script>

  <link rel="stylesheet" href="{{ assetsUrl('lib/fontawesome-5-10-1/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ assetsUrl('lib/bootstrap-4-3-1/css/bootstrap.min.css') }}">

  <link rel="stylesheet" href="{{ assetsUrl('infra/css/common-player.css') }}">
  <!-- <link rel="stylesheet" href="{ assetsUrl('infra/css/common-author.css') }}"> -->

  {{--  {{ style('player') }}  --}}
  <link rel="stylesheet" href="{{ assetsUrl('start/css/main.css') }}">

  <script src="{{ assetsUrl('infra/bus.js') }}"></script>
  <script src="{{ assetsUrl('infra/basic.js') }}"></script>
  <script src="{{ assetsUrl('infra/dcc-common-server-proxy.js') }}"></script>
  <script src="{{ assetsUrl('infra/dcc-common-server-address.js') }}"></script>
  <script src="{{ assetsUrl('author/js/dcc-author-server-proxy.js') }}"></script>

  <script src="{{ assetsUrl('dccs/components/dcc-base.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-visual.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-notice-input.js') }}"></script>

  <script src="{{ assetsUrl('author/js/template-case.js') }}"></script>

  <style media="screen">
  :root{
    --player-quest-icon-image-map: url({{ assetsUrl('player/images/edge/atividades.png') }});
    --quest-icon-size: 142px;
  }

  div{

    border-color: green;
    border-style: dotted;
  }

  h1{
    font-weight: bold;
    color: #808080;
  }

  #visita-virtual{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) 0 -150px;
  }
  #quiz-emergencia{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) -150px -150px;
  }
  #decisoes-extremas{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) -300px -150px;
  }
  #pronto-atendimento{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) 0 150px;
  }
  #desafio-eletro{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) -450px -150px;
  }
  #desafio-radio{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) 0 -300px;
  }
  #prescricao-virtual{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) -300px -300px;
  }
  #desafio-gaso{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) -450px -300px;
  }
  #cruzada-emergencia{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) 0 -450px;
  }
  #basico-alem-basico{
    width: var(--quest-icon-size);
    height: var(--quest-icon-size);
    border-radius: var(--quest-icon-size);
    background: var(--player-quest-icon-image-map) -150px -300px;
  }

  .player-welcome-padding{

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .player-welcome-content{
    border-color: #800000;
    border-style: double;
    border-radius:

  }

  </style>
</head>

@!section('content')

</html>
