<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ pageTitle }} | Harena </title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">

  <link rel="stylesheet" href="{{ assetsUrl('start/css/main.css') }}">

  @include('layout.template-min')

  <script src="{{ assetsUrl('author/js/dcc-author-server-proxy.js') }}"></script>

  <script src="{{ assetsUrl('dccs/components/dcc-base.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-visual.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-notice-input.js') }}"></script>

  <script src="{{ assetsUrl('author/js/template-case.js') }}"></script>

</head>

@!section('content')

</html>
