<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ pageTitle }} | Harena </title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">

  <link rel="stylesheet" href="{{ assetsUrl('start/css/main.css') }}">

  @include('layout.template-min')

  <script src="{{ assetsUrl('author/js/dcc-author-server-proxy.js') }}"></script>

  <script src="{{ assetsUrl('dccs/components/dcc-base.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-visual.js') }}"></script>
  <script src="{{ assetsUrl('dccs/components/dcc-notice-input.js') }}"></script>

  <script src="{{ assetsUrl('author/js/template-case.js') }}"></script>

  <style media="screen">

  :root{
    --player-quest-icon-image-map: url({{ assetsUrl('player/images/edge/atividades.png') }});
    --player-quest-icon-size: 142px;
    --player-quest-icon-margin: 7px;
  }

  div{

    /* border-color: green;
    border-style: solid; */
  }

  h1{
    font-weight: bold;
    color: #808080;
  }
  h5{
    font-weight: bold;
    color: #606060;
  }

  .player-quest-icon{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    /* margin-top: var(--player-quest-icon-margin); */
    /* background: var(--player-quest-icon-image-map) -5px -155px; */
    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    cursor: pointer;
  }
  .player-quest-icon:hover{


    border: 7px solid #0962b5;
    border-radius: var(--player-quest-icon-size);
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    /* background: var(--player-quest-icon-image-map) 0 -150px; */
  }
  .player-quest-txt{
    color: #245797;
  }

  .visita-virtual{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -5px -155px;
    cursor: pointer;
  }
  .visita-virtual:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) 0 -150px;
  }
  .txt-visita-virtual{
    color: #245797;
  }

  .quiz-emergencia{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -157px -155px;
    cursor: pointer;
  }
  .quiz-emergencia:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) -150px -150px;
  }
  .txt-quiz-emergencia{
    color: #e64e31;
  }

  .decisoes-extremas{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -305px -155px;
    cursor: pointer;
  }
  .decisoes-extremas:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) -300px -150px;
  }
  .txt-decisoes-extremas{
    color: #a34fa3;
  }

  .pronto-atendimento{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -5px 145px;
    cursor: pointer;
  }
  .pronto-atendimento:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) 0 150px;
  }
  .txt-pronto-atendimento{
    color: #666666;
  }

  .desafio-eletro{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -455px -155px;
    cursor: pointer;
  }
  .desafio-eletro:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) -450px -150px;
  }
  .txt-desafio-eletro{
    color: #ae9e00;
  }

  .desafio-radio{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -5px -305px;
    cursor: pointer;
  }
  .desafio-radio:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) 0 -300px;
  }
  .txt-desafio-radio{
    color: #348f00;
  }

  .prescricao-virtual{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -305px -305px;
    cursor: pointer;
  }
  .prescricao-virtual:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) -300px -300px;
  }
  .txt-prescricao-virtual{
    color: #48ccce;
  }

  .desafio-gaso{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -455px -305px;
    cursor: pointer;
  }
  .desafio-gaso:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) -450px -300px;
  }
  .txt-desafio-gaso{
    color: #8a4e11;
  }

  .cruzada-emergencia{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -5px -455px;
    cursor: pointer;
  }
  .cruzada-emergencia:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) 0 -450px;
  }
  .txt-cruzada-emergencia{
    color: #c80b67;
  }

  .basico-alem-basico{
    width: var(--player-quest-icon-size);
    height: var(--player-quest-icon-size);
    margin-top: var(--player-quest-icon-margin);

    border: 7px solid #e8e8e8;
    border-radius: var(--player-quest-icon-size);
    background: var(--player-quest-icon-image-map) -155px -305px;
    cursor: pointer;
  }
  .basico-alem-basico:hover{
    border: 7px solid #0962b5;
    width: var(--player-quest-icon-size) +10px;
    height: var(--player-quest-icon-size) +10px;
    background: var(--player-quest-icon-image-map) -150px -300px;

  }
  .txt-basico-alem-basico{
    color: #dc7a0c;
  }
  .teste{
    background-color: black;
  }

  /* .player-quest-icon{
    margin: 5px;
    border-radius: 5px;
    border-color: #b4b4b4;
    border-style: solid;
    border-width: 2px;
    background-color: #f7f7f7;
  } */

  .player-welcome-padding{

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .player-welcome-content{

  }

  .player-cases-content-padding{
    /* background-color: #3295ce; */
    background-color: #f2f2f2;
    border-color: #505050;
    border-width: 0.5rem;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-left-radius: 0.94rem;
    border-top-right-radius: 0.94rem;

    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
  }

  </style>
</head>

@!section('content')

</html>
